<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Job</title>
</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
   <!--  <img src="/MASH-Game-App/src/main/resources/images/mashlogo.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
   Job Tracker
  </a>
</nav>

	<div align="center">
		<h1>Create New Job</h1>
		<br />
	<div class="container2">
		<form action="#" th:action="@{/save}" th:object="${job}"
			method="post">

			<table border="0" cellpadding="10">
			<tr>
					<td>Job Id:</td>
					<td><input type="text" th:field="*{id}" /></td>
				</tr>
				<tr>
					<td>Date Applied:</td>
					<td><input type="text" th:field="*{dateapplied}" /></td>
				</tr>
				<tr>
					<td>Company Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Job Title:</td>
					<td><input type="text" th:field="*{jobtitle}" /></td>
				</tr>
				<tr>
					<td>Location:</td>
					<td><input type="text" th:field="*{location}" /></td>
				</tr>
				<tr>
					<td>Salary:</td>
					<td><input type="text" th:field="*{salary}" /></td>
				</tr>
				
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
		</div>
	</div>
</body>
</html>